# Python artifacts
**/__pycache__
**/parsetab.py
**/parser.out

# Graphs
*.dot
*.dot.svg

# scala
target/
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/
.bsp

# Emacs
\#*
.\#*
.ensime
.ensime_cache

# Package Files #
# *.jar
*.war
*.ear

